.task {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(10, 10, 10, 0.1);
    cursor: pointer;
}

.task:hover{
    box-shadow: 0 2px 5px rgba(10, 10, 10);
}

.task-title {
font-weight: bold;
margin-bottom: 5px;
}

.task-details {
color: #555555;
}

.tooltip{
    text-align: left !important;
}


.dashboard-card{
    padding: 8px;
    /* height: 40vh; */
    /* overflow-y: scroll; */
}